<div class="ui card">
    <div class="content">
        <div class="header">{{ member.MemberCategory }}</div>
    </div>
    <div class="content">
        <h4 class="ui sub header">{% if member.isEnable %}已启用{% else %}未启用{% endif %}</h4>
        <div class="ui small feed">
            <div class="event">
                <div class="content">
                    <div class="summary">
                        <span>余额: {{ member.money }}</span>
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="content">
                    <div class="summary">
                        <span>类别: {{ member.MemberCategory.category }}</span>
                    </div>
                </div>
            </div>
            <div class="event">
                <div class="content">
                    <div class="summary">
                        <span>内容: {% if member.MemberCategory.remark %}{{ member.MemberCategory.remark }}{% else %}无{% endif %}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="extra content">
        <button class="ui button">使用记录</button>
    </div>
</div>
